body {
  background-color: rgb(12, 61, 96);
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 20px;
  /* background-color: rgb(236, 114, 3); */
  /* background-color: rgb(12, 61, 96); */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 650px;
  padding: 20px;
  border-radius: 5px;
  /* background-color: rgb(12, 61, 96); */
  background-color: rgb(236, 114, 3);
  color: #fff;
  margin-bottom: 30px;
  font-size: 1.2em;
}

.rank {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 650px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(12, 61, 96);
  color: #fff;
  margin-bottom: 30px;
  font-size: 1.2em;
}

.grid {
  display: grid;
  width: 100%;
  max-width: 800px;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  margin: 0 auto;
  justify-content: center;
}

.card {
  aspect-ratio: 3/4;
  width: 100%;
  /* background-color: red; btw pode ser interessante deixar laranja opaco?*/
  border-radius: 5px;
  position: relative;
  /* border: solid; */
  transition: all 400ms ease;
  transform-style: preserve-3d;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  transition: all 400ms ease;
}

.front {
  /* background-color: #333; */
  transform: rotateY(180deg);
}

.back {
  background-image: url("../src/img/back.png");
  backface-visibility: hidden;
}

.reveal-card {
  transform: rotateY(180deg);
}

.disabled-card {
  filter: saturate(0);
  opacity: 0.5;
}
